body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #dc89f3;
/*   transform: scale(0.8, 0.8) perspective(1000); */
  }
  /*Basic Phone styling*/
  
  .phone {
    border: 40px solid #ddd;
    border-width: 55px 7px;
    border-radius: 40px;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 320px;
    height: 520px;
    transform: scale(0.8, 0.8);  /*rotateX(30deg) rotateY(0deg) rotateZ(-30deg);*/
    box-shadow: -3px 3px 0 #BBB, -6px 6px 0 #BBB, -9px 9px 0 #BBB, -12px 12px 0 #BBB, -14px 10px 20px #666;
    margin-top: 0px;
  }
  
  .phone iframe {
    border: 0;
    width: 100%;
    height: 380px;
    transform: scale(0.95, 0.95);
    margin-top: 40px;
  }
  
  
  @media (max-width:900px) {
    #wrapper {
      transform: scale(0.8, 0.8) perspective(1000);
    }
  }
  
  @media (max-width:700px) {
    #wrapper {
      transform: scale(0.6, 0.6) perspective(1000);
    }
  }
  
  @media (max-width:500px) {
    #wrapper {
      transform: scale(0.4, 0.4) perspective(1000);
    }
  }
